@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background-color: #002147; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #FFFF00; 
  border-radius: 20px; 
  border: 2px solid #002147; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #002147; 
}